.ImageSelect{
  /* background-color: cadetblue; */
}

.grid{
  position: absolute;
  top: 0;
}

.image-list-item{
  position: relative;
  width: 200px;
  height: 200px;
}

.card{
  margin-bottom: 10px;
}